/* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

/* Estilos del Encabezado */
header {
    background-color: #333;
    color: white;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: #555;
}

/* Estilos de las Secciones */
section {
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #333;
}

/* Secci칩n de Habilidades */
#habilidades ul {
    list-style-type: square;
    padding-left: 20px;
}

#habilidades li {
    margin: 8px 0;
    font-size: 1.1em;
}

/* Secci칩n de Proyectos */
#proyectos {
    background-color: #e2e2e2;
}

.proyecto {
    margin-bottom: 20px;
}

/* Estilos del Pie de P치gina */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Estilo para el gr치fico de torta */
#aportesChart {
    display: block;
    margin: 0 auto;
    max-width: 80%;
    height: auto;
}
