/* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Estilo para el gráfico de torta */
#aportesChart {
    display: block;
    margin: 20px auto;
    width: 100%;
    max-width: 400px; /* Ajustar el tamaño máximo del gráfico */
    height: auto;
    animation: rotate 10s infinite linear; /* Animación de rotación */
    transform-style: preserve-3d;
    perspective: 1000px; /* Profundidad 3D */
}

/* Efecto Holográfico: Colores brillantes, resplandor */
#aportesChart {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 0 15px rgba(0, 255, 255, 0.7);
    background: linear-gradient(45deg, rgba(0, 255, 255, 0.3), rgba(255, 0, 255, 0.3));
}

/* Animación de rotación */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Estilos de Secciones */
main {
    max-width: 1100px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

h1, h2 {
    font-size: 1.8em;
    color: #333;
}

ul {
    padding-left: 20px;
}

ul li {
    font-size: 1.2em;
}

/* Estilo para enlaces */
a {
    color: #0366d6;
    text-decoration: none;
}

/* Estilos Responsivos */
@media screen and (max-width: 768px) {
    nav ul {
        text-align: center;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    section {
        padding: 10px;
    }

    h1, h2 {
        font-size: 1.6em;
    }

    ul li {
        font-size: 1em;
    }

    footer {
        font-size: 0.8em;
    }

    #aportesChart {
        max-width: 90%;
    }
}

@media screen and (max-width: 480px) {
    h1, h2 {
        font-size: 1.4em;
    }

    ul li {
        font-size: 0.9em;
    }

    footer {
        font-size: 0.7em;
    }

    #aportesChart {
        max-width: 100%;
    }
}


